<b>A cosa serve questo bot?</b>
In questi mesi si sono creati spontaneamente alcuni gruppi nei quali chiedere aiuto durante la preparazione di un esame, rimanere aggiornati sulle novità o semplicemente condividere il proprio male di vivere. Questo bot ha il semplice scopo di raccogliere in un unico luogo i link per accedere a questi gruppi.

<b>Come faccio ad aggiungere un gruppo alla lista?</b>
Per aggiungere un gruppo alla lista, inviami in privato (<a href="tg://user?id=70021520">qui</a>) il link di invito al gruppo.

<b>Perché Anno 0 e non Anno 1?</b>
Siamo ad ingegneria informatica :grin:

<b>Come è stato realizzato il bot?</b>
Il progetto è open-source e trovi il codice sorgente <a href="https://gitlab.com/andreagiove/UnipiRootTelegramBot/">GitLab</a>. Il bot è hostato su <a href="https://www.heroku.com/">Heroku</a>.