Puoi consultare la lista del tuo corso di laura eseguendo il relativo comando:

/informatica Ing. Informatica

<i>Vuoi aggiungere un corso di laurea alla lista?</i> <a href="tg://user?id=70021520">Scrivimi</a>