<b>Primo Anno</b>
<a href="https://t.me/joinchat/BnxYVxbv2KOIUi_UanGvag">:traffic_light: Controllo dei processi</a>
<a href="https://t.me/joinchat/BnxYVxfJutWfcmelekOP2g">:game_die: Probabilità e Processi Stocastici</a>
<a href="https://t.me/joinchat/BnxYVxUUa_qNd3fx6bPZFA">:joystick: Teoria dei Segnali e del Controllo</a>
<a href="https://t.me/joinchat/BnxYVxYBMtCBTdZccX8Inw">:satellite: Controllo Digitale</a>
<a href="https://t.me/joinchat/BnxYVxO4-8fodm4P1FEvGA">:hammer_and_wrench: Meccanica dei Robot</a>
<a href="https://t.me/joinchat/BnxYVxe01Fo8QKYli7dU2w">:bulb: Sistemi Elettronici per Automazione e Robotica</a>
<a href="https://t.me/joinchat/BnxYVxeLYlaiMqw3WQxfng">:wind_blowing_face: Termofluidodinamica e Macchine</a>
<a href="https://t.me/joinchat/BnxYVxdRiipfAlZ_kEe7NQ">:computer: Informatica e sistemi in tempo reale</a>

<b>Secondo Anno</b>
<a href="https://t.me/joinchat/BnxYVwv_was1VubIdUHN-A">:man_detective: Controllo e Identificazione dei Sistemi Incerti</a>
<a href="https://t.me/joinchat/BnxYVxU4-YTWK3_A8aMcwg">:sailboat: Sistemi di Guida e Navigazione</a>
<a href="https://t.me/joinchat/BnxYVxbcrJFKZ_LYh0-5Aw">:robot_face: Robotica</a>

<i>Vuoi aggiungere un gruppo alla lista?</i> <a href="tg://user?id=70021520">Scrivimi</a>
