<b>Anno 0</b>
<a href="https://t.me/joinchat/F-kdalB7A1yFVCnJD8EhpA">:link: Algoritmi</a>
<a href="https://t.me/joinchat/Hcht5xDIHU-kQrGmR-L21A">:two_hearts: Analisi 2</a>
<a href="https://t.me/joinchat/F-kdak12Fr8qHp5QiU7EHg">:floppy_disk: Basi di dati</a> (<a href="https://t.me/joinchat/ALDXWBVYpL2l84JHdnXoOw">progetto 2019</a>)
<a href="https://t.me/joinchat/A0wv9EhCN2CjcIZebsS1RQ">:apple: Fisica generale</a>
<a href="https://t.me/joinchat/FfSxCEmzOuSrJsooy5x6TQ">:pencil2: Algebra</a>
<a href="https://t.me/fondamenti_di_programmazione">:computer: Fondamenti di programmazione</a>

<b>Anno 1</b>
<a href="https://t.me/joinchat/DP4y8grSZBsk1YzDw-NCew">:video_game: Calcolatori elettronici</a>
:clipboard: Calcolo Numerico (non disponibile)
<a href="https://t.me/joinchat/AAAAAArREhurO44Fc--MGw">:moneybag: Economia</a>
<a href="https://t.me/joinchat/AAAAAAuvvBo0m7aeqpAn6g">:zap: Elettrotecnica</a>
<a href="https://t.me/joinchat/AAAAAAzFfSh5cwB9ldDIfw">:car: Fondamenti di automatica</a>
<a href="https://t.me/joinchat/DP4y8g1bKe4l--I_YqIevQ">:spider_web: Progettazione Web</a>
<a href="https://t.me/joinchat/DP4y8gqAxH6Kc2gyDlUdBg">:skull: Reti logiche</a>
<a href="https://t.me/joinchat/CNsBexXjeejb0JYbOmHtsw">:mag: Ricerca operativa</a>

<b>Anno 2</b>
<a href="https://t.me/joinchat/AAAAAEHdvxGvPYyfEWYopQ">:radio: Comunicazioni numeriche</a>
<a href="https://t.me/joinchat/AAAAAEP1KLt08zn-graaaw">:electric_plug: Elettronica digitale</a>
:love_letter: Progettazioni di reti (non disponibile)
<a href="https://t.me/joinchat/DP4y8g4TrvNtOnLXbSPgXw">:coffee: Programmazione</a>
<a href="https://t.me/joinchat/BrkrO0Jdg2BQcqPEeeNSPw">:package: Reti informatiche</a>
<a href="https://t.me/joinchat/C6lolENUqEA944VwYoaZ2A">:vertical_traffic_light: Sistemi operativi</a>
<a href="https://t.me/joinchat/CLsD7hdrCpwyk3_eDqQxrw">:triangular_ruler: Ingegneria del software</a>

<b>Magistrali</b>
<a href="https://t.me/joinchat/BK0BTRGED9l1HKoXRLWfjw">Computer Engineer</a>
<a href="https://t.me/joinchat/A6S5hhOKF64s62zf2kJIxQ">AIDE</a>

<i>Vuoi aggiungere un gruppo alla lista?</i> <a href="tg://user?id=70021520">Scrivimi</a>
